Untitled1.ipynb
data/cocotalk.json
data/dataset_coco.json
data/train2014/*
data/val2014/*
data/cocotalk.h5
data/cocotalk_label.h5
coco-caption/
coco-caption/*
.ipynb_checkpoints/
.ipynb_checkpoints*
.vscode/
.vscode/*
runs/*
pycocoevalcap/*
log_st/*
save/*
eval_results/*
